<div class="container">
    <div class="row">
        <div class="logout">
            <button>
                LOGIN
            </button>
        </div>
        <div class="logo-container">
            <img src="/assets/img/logo.svg" alt="">
        </div>
        <div class="card">
            <form [formGroup]="register">
                <h1>SIGNUP</h1>
                <div class="form-group">
                    <label for="Name">Full name</label>
                    <input type="email" class="form-control" id="Name" aria-describedby="emailHelp"
                        placeholder="You name">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for="Email">Your Email</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password">
                </div>
                <div class="button-container">
                    <button>
                        SIGNUP 
                    </button>
                    <p>
                        By Creating account You agree to the
                        <a href="">Terms of use</a> and 
                        <a href="">Privacy Polycy</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>