$F13: Montserrat-Black;
$F14: Montserrat-BlackItalic;
$F15: Montserrat-Bold;
$F16: Montserrat-BoldItalic;
$F17: Montserrat-ExtraBold;
$F18: Montserrat-ExtraBoldItalic;
$F18: Montserrat-ExtraLight;
$F20: Montserrat-ExtraLightItalic;
$F21: Montserrat-Italic;
$F22: Montserrat-Light;
$F23: Montserrat-LightItalic;
$F24: Montserrat-MediumItalic;
$F25: Montserrat-Regular;
$F26: Montserrat-SemiBoldItalic;
$F27: Montserrat-Thin;
$F28: Montserrat-ThinItalic;
$F30: Montserrat-SemiBold;